body {
    background-color: antiquewhite;
    color:black;
    

}
h1 {
    text-align: center;
}
h2{
    text-align:left ;
}
h3{
    columns:1;
    text-align: center;
}

.horizontal {
    display: inline;
    margin: 20px;
}

.vertical {
    display: flex;
    align-self:center;
    text-align: center;
}