body {
    background-color: antiquewhite;
    color:black;
    

}
h1 {
    text-align: center;
}
h2{
    text-align:left ;
}
h3{
    columns:1;
    text-align: center;
}

.horizontal {
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}